argcomplete==2.1.1
argh==0.29.4
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
gffutils==0.10.1
idna==3.4
Jinja2==3.1.2
jsonlines==3.0.0
MarkupSafe==2.1.2
ncbi-datasets-pylib==14.16.0
protobuf==3.20.3
pyfaidx==0.7.2.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
simplejson==3.18.3
six==1.16.0
urllib3==1.26.15
